[2014-11-20 08:11] cbieser opened #1 "Keep bar with brand in canvas, move only navigation-DIV and search off-canvas"
You moved the toggle-button outside the nav.navbar. Is it posible to keep the nav.navbar with brand and move only the div#bs-navbar-offcanvas? See the bootstrap docs for Navbar with toggle-Button <http://getbootstrap.com/components/#navbar>

[2015-01-04 11:20] honucreative opened #2 "The demo doesn't work in Android/Chrome browser"
I have a Nexus 5, the demo page doesn't work, the menu button doesn't toggle the menu consistently, and when the menu finally reveals, any touch of the screen causes the menu to disappear.

[2015-01-05 08:59] iamphill commented on #2
This could be because the CSS & JS on the demo page is very out of date. Will need to update.

[2015-01-10 08:47] honucreative commented on #2
I had the same issue when I downloaded the project and tried it in a Bootstrap 3 project...

[2015-01-12 08:42] iamphill commented on #2
@honucreative What version of android is it?

[2015-01-12 09:17] ninetienne commented on #2
Hey Phill,

I'm experiencing the same problems. Android version is KitKat.

[2015-01-13 14:56] iamphill commented on #2
@honucreative @ninetienne Ok, I'll try get hold of a kitkat device to test.

[2015-02-05 14:55] iamphill commented on #2
Managed to replicate issue on android emulator. Will look for a fix.

[2015-02-27 05:24] alenb opened #3 "Provided Examples Not Working"
Hi,

I downloaded the source files and ran the `example/index.html` locally and it did not load the menu at all when pressing the toggle button. Same thing happened when I tried the `test/index.html` example. The only example that actually works is the following hosted example: http://iamphill.github.io/Bootstrap-Offcanvas/example.html. Is there anything special happening with the hosted example?

[2015-02-27 06:58] iamphill commented on #3
@alenb are there are errors in the console?

[2015-02-27 08:23] iamphill commented on #3
@alenb Did you also run `bower install` ?

[2015-02-27 08:23] #1 closed

[2015-02-27 13:16] skullcrasher opened #4 "Menu totall hidden on ipad"
The problem is that the menu is totally hidden on iPad. The space is still used and causes whitespace on the page.

It seems to be caused by the media-query where max-width: 768px.
The grid-break for bootstrap is at min-width: 768px for tablets (sm-device). If I set the media-query to max-width: 767px (as it is in bootstrap for xs-devices) it works as expected.

I think the max-width should be use

[2015-02-27 13:25] skullcrasher commented on #4
Pull request are done #5 #6 #7

[2015-02-27 14:13] #4 closed

[2015-03-19 13:28] sajjadmubashar opened #8 "css lost on resizing"
I have implemented the provided menu but without bower simply copied css and js files and it worked wonderfully but the only issue i have faced using chrome if i open up menu by toggle button after minimizing browser window it works and if i click any where out side and maximize the browser it goes well but,,,,if i open up menu after minimizing chrome browser and click on maximize button without c

[2015-03-19 13:31] iamphill commented on #8
@sajjadmubashar Does this happen on http://iamphill.github.io/Bootstrap-Offcanvas/example.html as well? Is this windows or mac chrome?

[2015-03-24 18:04] sajjadmubashar commented on #8
@iamphill I am extremely sorry i stated little early,,,in fact it was perfectly working i was not implementing body tag properly as per example. Now its perfectly supporting me :+1:

[2015-03-24 19:57] #8 closed

[2015-04-03 19:16] jlahijani commented on #3
I had this issue to.  It has to do with an incorrect path for loading jquery:
http://goo.gl/uAv0XQ

[2015-04-03 20:37] iamphill commented on #3
In that case, to run the example, you'll need to run bower install

[2015-04-03 20:37] #3 closed

[2015-04-07 13:54] DaveLindberg opened #9 "Uncaught TypeError: undefined is not a function"
I'm getting the following error when loading my page with ````bootstrap.offcanvas.js```` installed:

````Uncaught TypeError: undefined is not a functionbootstrap.offcanvas.js?ver=4.0:229 (anonymous function)bootstrap.offcanvas.js?ver=4.0:253 (anonymous function)````

Loading ````bootstrap.offcanvas.min.js```` produces the same result.

[2015-04-07 13:55] iamphill commented on #9
@DaveLindberg What line is the error on? Do you get the error on http://iamphill.github.io/Bootstrap-Offcanvas/example.html?

[2015-04-07 14:39] DaveLindberg commented on #9
looks like the error is on line 229. JSHint throws warnings on:
**line 233**
````return oc =```` "Did you mean to return a conditional instead of an assignment? — column 18"
**line 237**
````return $(this).on('click', function(e) {```` "'e' is defined but never used. — column 43"
I installed the components using bower.

[2015-04-07 15:16] iamphill commented on #9
@DaveLindberg Hmm.. 229 would be https://github.com/iamphill/Bootstrap-Offcanvas/blob/master/dist/js/bootstrap.offcanvas.js#L229 which would surely mean that `$` isn't available. jQuery is available right?

[2015-04-07 15:20] DaveLindberg commented on #9
Confirmed, jQuery is loading properly — before the bootstrap.offcanvas.js

[2015-04-07 15:21] iamphill commented on #9
@DaveLindberg Could you upload a demo somewhere where it isn't working?

[2015-04-07 15:42] DaveLindberg commented on #9
See http://webdev.davelindberg.com/

[2015-04-07 15:44] iamphill commented on #9
@DaveLindberg Ah I see the issue, angularJS redefines the `$`. Will get a fix out ASAP.

[2015-04-07 16:29] DaveLindberg commented on #9
Fantastic, thanks!

[2015-04-07 16:58] iamphill commented on #9
@DaveLindberg Just released 1.3.5 if you could try that.

[2015-04-08 00:56] DaveLindberg commented on #9
I've posted the v1.3.5 version to http://webdev.davelindberg.com/
Still getting an error. Line 149?

[2015-04-08 07:29] iamphill commented on #9
@DaveLindberg Just checked your demo, and it is still showing the older version?

Just created a PR anyway with a test. Could you try using #10 ?

[2015-04-08 11:45] DaveLindberg commented on #9
#10 is working fine on my local install. Oddly, it still throws an error on webdev. I've check the two files and found no diff, not sure what's happening here?

[2015-04-08 11:47] iamphill commented on #9
@DaveLindberg Your one http://webdev.davelindberg.com/wp-content/themes/angwobo/bower_components/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.js?ver=4.1.1 looks different to https://raw.githubusercontent.com/iamphill/Bootstrap-Offcanvas/dollar-fix/dist/js/bootstrap.offcanvas.js

[2015-04-08 22:02] DaveLindberg commented on #9
Thx. Not sure why, but there's a trailing newline on the webdev version that I can't get rid of. Other than that, the latest version should be in place.

[2015-04-09 07:22] iamphill commented on #9
@DaveLindberg Cool, will get it merged in.

Styling on your version is off. Looks like you haven't included Bootstrap.

[2015-04-09 07:22] #9 closed

[2015-05-19 14:25] noquierouser opened #12 "Dropdown toggle incorrectly changes size of next item in navbar-nav"
![](http://i.imgur.com/mh4zc1V.png)

To replicate this issue, have at least two dropdowns in a navbar-nav, one after the other. It also happens if a non-dropdown item is after a dropdown.

[2015-05-19 15:28] heloisalabz opened #13 "Injects your dependencies into your html file"
Solution?

[2015-05-20 07:07] #13 closed

[2015-05-20 07:07] iamphill commented on #13
@heloisalabz Thanks!

[2015-05-20 07:08] iamphill commented on #12
@noquierouser Thanks, will have a look into this!

[2015-05-20 18:20] #12 closed

[2015-05-20 18:47] #2 closed

[2015-06-03 20:52] dbassendine opened #14 "Close button"
Thanks for the awesome plugin!

I'd like to add a close button to provide a visual cue that allows for closing the sidebar.

I've looked at two approaches for this:

* add a second button to toggle the sidebar off, only visible when the sidebar is out
* change the text and icon of the existing button via JS, when the sidebar is out

Either way, although the classes imply the button is a "toggle" -

[2015-06-13 22:02] benzon opened #16 "The example is broke again it looks like?"
When i visit the example or try to integrate this in to my site, there is huge issues, it will create a huge container, so the content is pushed further down the page, and the "gray" menu color dominates the page.

Besides that i would wish an inline example, where you just change the button in normal Navbar, to open the Offcanvas, so you can keep the bar in the top with your logo in it....

[2015-06-15 12:16] quicoto commented on #14
Same here. Even in the example, the toggle button won't close the nav :(

[2015-07-03 21:36] #14 closed

[2015-07-03 21:37] iamphill commented on #14
Hey guys! Sorry for the slow fix on this! But if you could try out the latest version, seems to of fixed it!

[2015-07-16 12:38] keithmclaughlin commented on #16
When I try implementing this on my site I'm also seeing the huge container. It looks like the JavaScript is calculating the height of the viewport and adding that to the nav element even when the screen width is wider than 768px.

[2015-07-16 12:42] iamphill commented on #16
The only way I can replicate this is by opening the menu and then resizing the browser to be desktop size again. Is this correct?

[2015-07-16 20:59] sparkalow commented on #16
Just visiting the example on Chrome OSX does it for me.

I suspect `this.target.height($(window).outerHeight());` has something to do with it.

[2015-07-17 07:01] iamphill commented on #16
Ok I can see what you mean now! I was just viewing it in mobile view instead of desktop size first. Will get a fix out now.

[2015-07-17 07:13] #16 closed

[2015-07-28 23:09] marcandrews commented on #1
I think what @cbieser is trying to say is that you're not using standard Bootstrap markup.

In standard Bootstrap markup, the navbar toggle button is located inside the ```<nav>``` element; while your rep requires that it is located outside the ```<nav>``` element.

If you use your rep with standard Bootstrap markup, the entire navbar, along with the toggle, is hidden at smaller screen widths.

It

[2015-07-29 00:22] marcandrews commented on #1
Also, keeping the navbar visible provides a better, more stable and more predictable user experience.

[2015-10-02 01:46] bmorejamie opened #19 "Keep bar with brand in canvas, move only navigation-DIV and search off-canvas"
i'm reposting the issue that @cbieser raised, because i have the same issue.

you closed this issue, but it wasn't resolved... This would be great otherwise, but as is the logo (brand) gets stuck in the off-canvas sidebar and isn't visible when the navbar is hidden.

[2015-10-02 06:47] iamphill commented on #19
I've just had a little look into it and understand the need for it now - there wasn't for a project this was made for. So going to look at this & probably bump the version to 2. Thanks!

[2015-10-16 13:19] Jungerislaender opened #21 "Open off canvas menu scrolls content to the top"
Open off canvas menu scrolls content to the top.

This happens, because the body gets position fixed with initial top value.

[2015-10-16 13:21] iamphill commented on #21
Hi @Jungerislaender
Thanks for reporting this :smile:

I'm currently working on #20 which should fix a lot of issues. Going to try get this sorted ASAP :heart:

[2015-10-16 13:22] Jungerislaender opened #22 "window.on resize disables toggle button and scrolls to top on iOS devices 9.0.2 with Safari"
window.on resize disables toggle button and scrolls to top on iOS devices 9.0.2 with Safari.
Then when you reached top the toggle button works again.

Removing
        $(window).on 'resize', ->
          $('body').css
            overflow: ''
            position: ''
          $('.navbar-offcanvas.in').each ->
            $(@).height('').removeClass 'in'
and replacing this with a enquire media que

[2015-10-16 13:45] iamphill commented on #22
@Jungerislaender Would you be able to test the branch https://github.com/iamphill/Bootstrap-Offcanvas/tree/v2 for me please?

[2015-10-18 14:07] kfirba opened #24 "Question: Version 2"
Hey.

I'm glad I found this addon. Seems like it's gonna make my life easier :).

Is the v2 branch stable enough for usage? If not,  is there an estimation when it will be released? Also, will it present BC breaking changes?

[2015-10-19 07:34] iamphill commented on #24
Hey! Version 2 should be pretty stable, I've not really changed much CSS but I have changed where the classes should be in the markup.

I'd pull down the branch and have a look at it :smile:

[2015-10-19 11:32] kfirba commented on #24
@iamphill can this off canvas navigator work with vertical nav bar? Maybe with bootstrap group list? All I really want is to have another sidebar (besides a normal navigator) that will hide on xs and will be able to toggle open like this plugin presents. Is it possible?

[2015-10-19 11:38] iamphill commented on #24
@kfirba I never built it with that in mind. I mainly built it to be for the main top horizontal navigation.

How about https://getbootstrap.com/examples/offcanvas/ ?

[2015-10-19 11:42] kfirba commented on #24
@iamphil it doesn't feel good enough. I can still scroll the page content when the nav is open. There are no gestures as-well

Too bad I can't use your plugin :/

[2015-10-19 12:17] #24 closed

[2015-10-24 13:37] #19 closed

[2015-10-24 13:38] #21 closed

[2015-10-24 13:38] #22 closed

[2015-11-03 05:48] plainspace opened #25 "Stop background from scrolling when nav pane is open"

[2015-11-03 10:26] iamphill commented on #25
Just to clarify - are you running v2?

[2015-11-03 16:54] plainspace commented on #25
Yes.

[2015-11-07 01:33] malebolgia opened #26 "Doesn't work with prototype.js"
Looks like this doesn't work with prototype.js , All jquery library functions I am using are working except for this one, I am trying to use this with magento shop.

[2015-11-07 01:59] malebolgia commented on #26
I think I found the solution for my issue.

[code]

The conflict is between Bootstrap and PrototypeJS. I hope this will help somebody else who are using magento with bootstrap framework.

[2015-11-17 16:18] gward35 opened #27 "data toggle close function (x) does not work"
When clicking the x on the menu it does not slide back? I have a mutli level menu in this drawer how can this issue be resolved? Currently the only way the user can close this menu is if they touch an area outside of the drawer.

Here is a fiddle to illustrate http://jsfiddle.net/gward90/b25jgyox/2/

Your help is most appreciated.

[2015-11-17 16:20] iamphill commented on #27
Hey @gward35

So I've recently updated the plugin to v2 which improves a lot of stuff! Might be worth trying to upgrade to that? It will probably involve a slight re-work of your HTML so be sure to checkout the example https://github.com/iamphill/Bootstrap-Offcanvas/blob/master/example/index.html

[2015-11-17 16:48] gward35 commented on #27
Thanks @iamphill The menu now slides back when hitting the hamburger. Is there an easy way I can convert the hamburger icon to an x or something similar when the menu is open to signify "hit this to close" ?

Thank you again

[2015-11-17 16:50] iamphill commented on #27
@gward35 Hmm... it should do that - it should animate the hamburger icon into a close icon. Do you have a hamburger icon or text?

If you have text - I'll probably have to make this an option (something I never thought about...)

[2015-11-17 16:54] gward35 commented on #27
@iamphill I am using BS hamburger icon I've updated my fiddle to illustrate

http://jsfiddle.net/gward90/b25jgyox/3/

[2015-11-17 17:03] gward35 commented on #27
@iamphill I'm sorry disregard I was missing the css part. This is wonderful thank you for your help.

[2015-11-17 17:07] #27 closed

[2015-11-17 17:18] iamphill commented on #27
@gward35 glad to help :smile: glad we got it work :+1:

[2015-11-23 02:53] malebolgia commented on #26
Hi @iamphill sorry for the late reply, maybe I was using old bootstrap 3 version.

Here is the link https://basemarknyc.com/shop/

Thanks :)

[2015-11-23 02:53] #26 closed

[2015-12-03 05:52] Arman143 opened #28 "when click on search text box the menu is hidding auto"
HI,
            i have add your code in my site but when i check this on mobile the canvas menu is auto hiding when click on search or  menu anywhere in canvas menu.. can you please help me with that .. i am not coder and i don't now jquery etc.
my website is: http://goo.gl/3bB8dA
check on mobile.. i have test it with android device mate 7

thanks

[2015-12-03 06:29] Arman143 commented on #28
i have record the mobile screen for easy understanding
video
http://tune.pk/video/6331849/mobizen-20151203-111353

[2015-12-06 08:59] responsivewebsg opened #29 "Converting Offcanvas to Wordpress dynamic nav"
Hi, I am trying to convert my working index.html , bootstrap and offcanvas css and js. It is working fine on html but when I convert into the header.php on Wordpress using wp_bootstrap_navwalker.php. The offcanvas slides but does not show when collapes but does before collapsing though. I do not have a demo site at the moment but before are the files. Thanks in advance for the time:)

Below are th

[2015-12-07 09:06] responsivewebsg commented on #29
Hi Phil,

Managed to correct the issue with the following code.

        		<?php
		            wp_nav_menu( array(
                        'menu'              => 'primary',
                        'theme_location'    => 'primary',
                        'depth'             => 2,
                        'container'         => 'js-bootstrap-offcanvas',
                        'container_class'   =>

[2015-12-07 09:06] #29 closed

[2015-12-07 09:07] iamphill commented on #29
@responsivewebsg Glad it is sorted! Sorry I didn't get round to looking into it!

[2015-12-07 09:07] iamphill commented on #28
@Arman143 What version of the plugin are you using out of interest?

[2015-12-07 09:29] responsivewebsg commented on #29
Hi Phil,

No worries on that.

Thank you.

From: Phil Hughes [mailto:notifications@github.com]
Sent: Monday, 7 December 2015 5:07 PM
To: iamphill/Bootstrap-Offcanvas <Bootstrap-Offcanvas@noreply.github.com>
Cc: responsivewebsg <responsiveweb@Outlook.sg>
Subject: Re: [Bootstrap-Offcanvas] Converting Offcanvas to Wordpress dynamic nav (#29)

@responsivewebsg <https://github.com/responsivewebsg>  Gla

[2015-12-17 12:17] rtack opened #30 "add support for bootstrap 4"
I've just used this project in my bootstrap 4 project.

I had to do the following to make it work.

## for the icon bar:
v4 doesn't use span class="icon-bar" anymore for it's hamburger menu. instead it uses &#9776;
There is no more styling done for the icon-bar class. I just copied over the styles from v3 and changed navbar-toggle to navbar-toggler.

        .navbar-toggler .icon-bar {
          b

[2015-12-17 12:31] iamphill commented on #30
thanks for this :+1:

I've not looked fully at bs4 yet - will probably look at adding support once bs4 is in beta

[2015-12-18 21:13] kekkster opened #31 "Offcanvas on iPad"
Hi!
First of all, thanks for an amazing offcanvas menu. Works brilliantly!
So.. not an issue really. Rather a question.
I would like the offcanvas menu to work on an iPad/tablet. I tried to change the media query but didn´t get it to work. Is there anything else I can try?
Thanks in advance and once again, awesome work!

[2016-01-08 16:25] EddyTheDove commented on #31
Hi,
Thanks for this awesome offcanvas nav. I have some issues on ipad. It doesn't work properly and cover the entire page. You can have a look on developer tool when you choose apple ipad as the device.
![screen shot 2016-01-09 at 3 23 34 am](https://cloud.githubusercontent.com/assets/8747601/12202954/968c979a-b680-11e5-865e-06fb028a54af.png)

[2016-01-13 10:11] iamphill commented on #31
Hi @EddyTheDove, sorry for the slow reply! Just out of interest - what version are you running?

If you are using the sass version, it might just a case of changing the size in https://github.com/iamphill/Bootstrap-Offcanvas/blob/master/src/sass/_vars.scss#L14

[2016-01-13 10:18] EddyTheDove commented on #31
Hi Phil and take you for your reply.
I am using the distribution version (css and js) from git.
If you download your repo and try it on the tablet, you will notice that bug.
Could you please refer to my previous screenshot?

Cheers

[2016-01-13 10:21] iamphill commented on #31
Sorry I see now. That is the default behaviour as it just goes off Bootstraps media queries to show this only on mobile.

If you want to have the offcanvas on tablet, i'd suggest using the sass version & change the variable values.

[2016-01-13 12:40] EddyTheDove commented on #31
Thank you Phil.
I will try some tweaks and let you know if I ever succeed

[2016-01-26 14:03] gideonso commented on #28
@iamphill  Get the same problem. I use the latest mater download here.

Gideon

[2016-01-28 15:58] GuerrillaCoder opened #32 "Issues with larger screen and touch gesture"
Hey, great script!  I really like how it looks but I have a few issues with it.

I have altered the SASS variable to make menu appear in ipad portrait mode.
[code]
I have also increased the @grid-float-breakpoint collapse breakpoint in main bootstrap SASS.

It works but there are some issues.

When trying to drag the menu from the left it is tricky to find the right part of the screen to swipe.  T

[2016-02-04 14:43] MattMattV opened #33 "Possible typos ?"
In the coffee script, there is 3 occurences of `offcavas` (lines 172 and 179)

Is that an error or is it normal ?

[2016-02-04 14:44] iamphill commented on #33
@MattMattV is this an error you get when compiling?

[2016-02-04 14:52] MattMattV commented on #33
No, I just saw them while reading your code

[2016-02-04 14:54] iamphill commented on #33
Can't see where you are looking?

https://github.com/iamphill/Bootstrap-Offcanvas/blob/master/src/coffee/bootstrap.offcanvas.coffee#L172

https://github.com/iamphill/Bootstrap-Offcanvas/blob/master/src/coffee/bootstrap.offcanvas.coffee#L179

[2016-02-04 15:00] MattMattV commented on #33
They are between quotes (: use the Ctrl+F to highlight them (offcanas)

[2016-02-06 10:24] #33 closed

[2016-02-06 10:27] #31 closed

[2016-02-10 14:06] kekkster commented on #31
Eddy hi-jacked my thread and I didn´t get an answer before it got closed. :)

Anywho... @iamphill, you mentioned sass. Isn´t there a way to do it with regular css?

[2016-02-10 16:27] iamphill commented on #31
@kekkster yeah you can edit the CSS https://github.com/iamphill/Bootstrap-Offcanvas/blob/master/dist/css/bootstrap.offcanvas.css just changed the media query value. Let me know if you need some help! :+1:

[2016-02-21 07:56] kapilsipl commented on #14
Does anyone know how can I disable button (offcanvas-toggle) when menus open?

[2016-03-09 05:27] derickdsouza opened #35 "Tap issue on larger touch screen devices when not in offcanvas mode"
Hi, Thanks a bunch for this very useful script!

I have had the following issue:
When one taps on a page that is not in offcanvas mode, it resizes the navbar to height of the window.
This can be reproduced in the example page provided with Bootstrap-Offcanvas. I have tested it using Chrome DevTools' Device Mode (devices: Nexus 10 or Nexus 7 in landscape mode or any other larger device).
I have add

[2016-03-20 18:38] papaiatis opened #36 "The offcanvas navbar is not working if the navbar definition is loaded by ajax"
I have an AngularJs application in which the header part is defined in a separate file thus it is loaded into the HTML by an AJAX call. This case the navbar toggle button does not work. It won't open the offcanvas menu.
However if I re-run the entire bootstrap-offcanvas javascript code in F12 console the navbar toggle works.
So this means this component does not support navbar-s that are loaded by

[2016-03-20 18:57] iamphill commented on #36
Do you have a demo app that you could share?

[2016-03-20 19:32] papaiatis commented on #36
I've made you one: http://plnkr.co/edit/ZmUVTgp6xJctlZ0Xk14R?p=preview
The trick is `ng-include` which loads the specified html file into that exact spot.

[2016-03-21 10:24] iamphill commented on #36
Thanks! I'll look into getting a fix for this :smile:

[2016-03-21 10:29] papaiatis commented on #36
Thanks! It would be awesome if you could fix it soon :wink:

[2016-03-23 01:52] hongkongk commented on #35
thanks derickdsouza .

[2016-03-23 19:18] papaiatis commented on #36
Any update on this? I'm eager to intergrate it into my website!

[2016-03-23 19:39] iamphill commented on #36
Unfortunately it's s bit harder than I originally though. I think I need to do a bit of a refactor of how it works, which is something I want to do anyway. However I don't have the time to do this at the moment.

Is there anyway you can use the class I've created? It should be a global object that you should be able to init from in angular.

[2016-03-23 19:52] papaiatis commented on #36
That could work. How can I initialize your class?

[2016-03-23 19:55] iamphill commented on #36
You should be able to use new Offcanvas(TOGGLE ELEMENT)

[2016-03-23 19:55] #30 closed

[2016-03-23 20:13] papaiatis commented on #36
Sorry, but I'm not sure what to write into TOGGLE ELEMENT.
I have this as a toggle button:

[code]

I copied it from your example: http://iamphill.github.io/Bootstrap-Offcanvas/example.html

[2016-03-23 20:18] papaiatis commented on #36
In the meanwhile I've updated the Plunkr code. Look for the "init Offcanvas here" line. That should be the place to put your Offcanvas init logic.

http://plnkr.co/edit/ZmUVTgp6xJctlZ0Xk14R?p=preview

[2016-03-23 20:20] iamphill commented on #36
I'll fork the plunkr & get it working :smile:

[2016-03-23 20:22] papaiatis commented on #36
Got it! `new Offcanvas($('[data-toggle="offcanvas"]'));`

[2016-03-23 20:22] iamphill commented on #36
Nice one! I was just about to send it back with that!

Happy to close?

[2016-03-23 20:24] papaiatis commented on #36
Sure I am! Thanks a lot :-) Amazing support!

[2016-03-23 20:24] #36 closed

[2016-03-23 20:25] iamphill commented on #36
You're welcome! :+1:

[2016-03-23 22:15] papaiatis opened #37 "Please add support for manually close the navbar using trigger"
As per in the manual there is a `offcanvas.toggle` trigger I can fire which opens/closes the navbar, eg.:

    $("#js-bootstrap-offcanvas").trigger("offcanvas.toggle");

I'd like to have a similar trigger which not triggers but closes the navbar if it was open, something like:

    $("#js-bootstrap-offcanvas").trigger("offcanvas.close");

This is also required for my Angular (ajax) application whi

[2016-03-24 08:57] potentstudios opened #38 "v2.1.1: index.html in the example folder doesn't seem to work."
Not sure If I'm missing something but the index.html file in the example folder of the .zip doesn't work in v2.1.1. The menu icon doesn't trigger the off canvas menu. Is anyone else having this issue?

[2016-03-24 13:21] iamphill commented on #38
have you done both `npm install` & `bower install` to get deps?

[2016-03-28 09:50] #37 closed

[2016-03-28 09:55] iamphill commented on #37
New version with this https://github.com/iamphill/Bootstrap-Offcanvas/releases/tag/2.2.0

[2016-03-28 10:21] papaiatis commented on #37
Thanks, it works! Consider updating your Readme.md as well :wink:

[2016-03-28 17:39] iamphill commented on #37
Good spot! Updated :+1:

[2016-03-28 18:51] papaiatis commented on #35
Thanks @derickdsouza  !
@iamphill Can you take a look on this as well? :wink:

[2016-03-29 17:35] rmstinson commented on #38
Hi everyone. I'm also having the same issue as @potentstudios in which the example index.html file doesn't work. @iamphill I tried to install both npm install and bower install and received the errors:

[code]

[2016-03-30 01:01] vinodpandey opened #40 "pushing main content to right instead of floating the menu over content"
In current configuration, is it possible to make the off canvas menu push the content to right instead of floating over it? Similar to http://www.jasny.net/bootstrap/examples/navmenu-push/.

[2016-03-30 08:02] iamphill commented on #40
Unfortunately, at the moment no this isn't possible. However, I might consider doing this for when Bootstrap v4 is released.

[2016-03-30 08:02] #40 closed

[2016-04-08 10:35] jhalvorson commented on #35
Thanks @derickdsouza, this fixed it for me too!

[2016-04-11 02:16] mynameisrufus opened #42 "Bootstrap v4"
I am using this with v4 alpha, works perfectly. Would be good to update the examples etc. Thanks for this lib, really nice.

[2016-04-11 10:07] iamphill commented on #42
v4 is still in alpha right? As soon as it goes into beta, i'll update things :smile:

[2016-04-11 13:17] PascaleBeier commented on #38
This issue can be resolved by instructing git to use https instead of ssh:

`git config --global url."https://".insteadOf git://
`

[2016-04-12 19:00] #38 closed

[2016-04-15 10:07] PascaleBeier opened #43 "Only allowing one opened (sub)menu"
ping @iamphill

What is the best approach to only allow one menu to be opened, e.g. showing its children?

For instance:

Assuming my page tree looked like this:

[code]

When the user visits my site on a mobile device:

[code]

When the user opens Page A

[code]

Now I want the following behaviour **when the user opens Page B while Page A is showing its children:**

[code]

Any hints? :) Thanks!

[2016-04-15 13:44] iamphill commented on #43
Do you mean in the dropdown you want a list of collapsible links?

[2016-04-15 13:44] #42 closed

[2016-04-15 13:46] #35 closed

[2016-04-15 17:49] PascaleBeier commented on #43
Not at all! Poor wording from my side.

I want only one menu to be expanded - So when a user expands a menu and tries expanding another - the previous expanded menu is collapsed.

Default behaviour is that all menus can be expanded, but I certainly want to change this to the just described.

[2016-04-24 11:47] marclennox opened #44 "Navbar button color initially wrong with navbar-inverse"
When the navbar button first comes up with `navbar-inverse` it is not inversed color, however after pressing it to expand the menu, it changes to the correct color.

Any ideas how I can get it to display properly on page load?

[2016-05-05 11:06] andreuka commented on #28
getting the same in mobile chrome only!

[2016-05-12 10:19] #44 closed

[2016-05-12 10:41] #43 closed

[2016-05-17 14:52] anta88 commented on #32
Hi, I'm also trying to make the menu appear on tablets (and possibly desktops).
I used bootstrap customizer on getbootstrap.com/customize and I tried to alter screen-xs-max and to increase the grid-float-breakpoint, but it didn't work for me.

What am I doing wrong?

[2016-05-18 13:08] anta88 commented on #32
Ok, here is what i did for the record. It's not elegant but it works.
Instead of altering the Bootstrap grid system and editing the SASS of the add-on, I just used CSS to override the behaviour at width >=768px and make it work as it does at lower resolutions.
These are the rules I put in my custom CSS:

`@media screen and (min-width: 768px) and (max-width: 8991px) {
    .navbar-offcanvas {

[2016-07-10 11:09] pieterss opened #45 "Menu behavior on iPhone and iPad"
I implemented your plugin on two sites and noticed that on iPhone / iPad only the menu opens from left top to right bottom on toggle in stead of from left to right.

[2016-07-15 13:01] kingkero commented on #36
This should be way more prominent! Have been trying make this plugin work with require.js for a couple of hours.
[code]
Just started using require.js and Backbone, so not sure if this is best practice - but it works!

[2016-07-18 16:21] DonTermi opened #46 "Dropdown doesn´t work correctly"
Hi,

I have Bootstrap 3.3.6 with bootstrap css + js loaded. After this  your offcanvas js is loaded. But when I open at offcanvas the submenu and I click into empty space on offcanvas, the submenu is not closed and there are some other style problems.

Can you fix this that your offcanvas version work with submenus?

[2016-07-20 05:02] AaronKazah opened #47 "Offcanvas menu automatically closes when input is clicked"
The offcanvas menu automatically closes when the input is clicked. I tried debugging it however I couldn't understand your js, no comments anywhere.

[2016-07-20 08:48] iamphill commented on #47
What browser is this on?

[2016-07-20 08:49] iamphill commented on #46
So you want an empty space tap to hide opened submenus?

[2016-07-20 08:49] iamphill commented on #45
What ios version?

[2016-07-20 13:06] AaronKazah commented on #47
That was a quick reply, and it's present in the chrome browser, I ended up redesigning the search bar and moved it out of the off canvas menu.

[2016-07-21 20:43] clarkito opened #48 "close button state"
Hi Phill, cool plugin!

bug found, downloaded github version:

1.  in collapsed mobile mode (less that 768px). click menu button,

2. side navigation shows

3. expand screen to fullscreen again by dragging browser

4. collapse to mobile view again by dragging browser

5. you will still see the close icon (but now the offcanvas menu is hidden).
if you click the X button the menu shows (ie. rolls ar

[2016-07-26 15:40] PascaleBeier commented on #46
This is not the default behaviour of bootstrap's dropdowns though.

[2016-08-07 20:18] pieterss commented on #45
9.3.4 (and before). The same behavior occurs on your demo page http://iamphill.github.io/Bootstrap-Offcanvas/example.html, but is less manifest because the menu is light-colored on a white body background. Try making it black :)

[2016-08-08 10:07] minazou67 opened #49 "Icon state at the time of window resizing"
Thanks for the awesome plugin!

An icon state when I resized a window is not right.

Now it works correctly with this JavaScript code.

[code]

Thanks!

[2016-08-12 13:08] #48 closed

[2016-08-12 13:08] #49 closed

[2016-08-12 13:32] lemoslincoln opened #51 "Only um trigger works in navbar-header"
Why other element inside navbar-brand don't trigger ?

Look my code:
[code]

[2016-08-15 14:09] AaronKazah commented on #51
What do you mean "don't trigger"?

[2016-08-15 14:41] lemoslincoln commented on #51
Sorry.. hehe
The menu don't collapse

[2016-08-31 11:27] iamphill commented on #47
@AaronKazah Just tried on Chrome & I can't see the issue.

[2016-08-31 11:27] #47 closed

[2016-08-31 11:54] iamphill commented on #28
Can't reproduce. Can you try master?

[2016-08-31 11:54] #28 closed

[2016-08-31 14:00] thomasgallagher commented on #45
I'm seeing this too - anything I can do to help?

[2016-08-31 14:39] thomasgallagher commented on #45
This fixed it for me:

[code]

[2016-08-31 15:43] thomasgallagher opened #54 "Events fire in wrong order"
[code]

![screen shot 2016-08-31 at 17 42 40](https://cloud.githubusercontent.com/assets/11466/18135501/640b9e02-6fa2-11e6-87cd-54571d0a39e6.png)

[2016-08-31 16:05] #54 closed

[2016-08-31 16:06] #46 closed

[2016-09-08 10:52] GevorGSM opened #57 "The offcanvas menu automatically closes when the input is clicked in mobile"
The offcanvas menu automatically closes when the input is clicked in mobile.when i click in input(in mobile),it trigger windows resize and it close the menu .we can add option in tag (like data-recalc='true') and closing menu in resize  when option recalc  is true or false. thank you

[2016-09-20 02:16] hugofabricio opened #58 "Android"
In Android default browser, menu not work.

[2016-09-20 18:51] hugofabricio commented on #58
Android Version: 4

[2016-09-22 21:01] Davidthecoolsmartguy commented on #57
I have the same issue too.

[2016-09-25 13:32] sjoonk commented on #57
I have too. It seems a resize event occurred when you clicked input on mobile device because of virtual keyboard. When resize event occurred occurred the opened menu closed automatically. If you do not want this, you can comment resize event handler in source code, i think.

[2016-09-28 12:36] DavidVonAmri opened #59 "Multiple offcanvas menus"
Is it possible to have two offcanvas menus? I have no problem adding one offcanvas menu but when I try to add a second it wont work.

<button data-toggle="offcanvas" data-target=".js-offcanvas-menu">1 menu</button>
<button data-toggle="offcanvas" data-target=".js-offcanvas-cart">1 menu</button>

<div class="navbar-offcanvas navbar-offcanvas-right navbar-offcanvas-fade js-offcanvas-menu"></div>
<di

[2016-10-01 00:28] winmodify opened #60 "Dropdowns don't open in desktop view"
Dropdown menu's don't open when you click on them in desktop view.
In mobile view it works perfectly.

[2016-10-07 16:06] vadim-p commented on #60
Same issue.
It conflicts with bootstrap's dropdown because of `e.stopPropagation()` call in `OffcanvasDropdown. _clickEvent` method.
And I wondered why that class exists at all :)

[2016-10-07 22:39] aloysiusan opened #61 "Doesn't work using AngularJS ngView"
In my app I load the nabber dynamically depending on the user that is logged in, using the angularjs directive ngView, however if I tried to use this plugin it just doesn't trigger the off canvas menu

[2016-11-24 09:34] fstockel commented on #60
I can into the same issue and managed to solve it (or make it work) by explicitly adding a display attribute in my css declaration for the shown class on the dropdown-menu:

.navbar-offcanvas .dropdown-menu.shown {
	display:inline-block;
}

[2016-12-07 14:49] robertnurijanyan commented on #57
The resize event seems to be triggered on Android (not on iOS). A temporary fix would be to add an extra check in the resize handler.

[code]

[2017-02-08 13:12] pioz commented on #57
I've same issue... my workaround is

[code]

[2017-02-16 02:51] DaikiSuganuma opened #62 "Can't scroll contents when window resized"
Thank you for great plugin.
I saw the issue in following steps.

1. open offcanvas menu
2. window resize. In Android, swipe up menu then header bar is hidden and "resize" event occur.
3. automatically menu closed
4. can't scroll contents

so I inserted a code in "transitionend" event.
[code]
It works so far.
Is this good solution?

[2017-03-03 09:26] kekkster opened #63 "Gap below offcanvas menu area when scrolled down"
Hi!

I noticed a "bug" when using the offcanvas menu on mobile. When scrolled down a bit on a page, just enough to the top toolbar/browser navigation (with the address field etc.) disappears, a big gap appears below the menu area. The gap is pretty much the same height as the browser toolbar. See attached screenshot. Tried both on Android (Samsung Galaxy S7 Edge) and iPhone (6) and both has the sa

[2017-03-03 09:28] iamphill commented on #63
Hey @kekkster thanks for reporting!

Not sure it is known, but I think I know the issue. There are a few other bugs that I need to work on.

[2017-03-03 09:29] iamphill commented on #63
Actually could you try out the change in #56 & see if that solves the issue?

[2017-03-03 09:30] kekkster commented on #63
Thanks for your lightning fast response! :) I´ll try it out right away and let you know.

[2017-03-03 09:35] kekkster commented on #63
It worked like a charm! Had to set "!important", but it works perfectly now! Thank you! :)

[2017-03-03 09:36] iamphill commented on #63
@kekkster awesome, i'll look at getting it merged in & a release made.

[2017-03-17 08:50] viosys opened #64 "Composer"
Hi,
could you make this repository usable by Composer / Packagist.
See: [http://blog.jgrossi.com/2013/creating-your-first-composer-packagist-package/](http://blog.jgrossi.com/2013/creating-your-first-composer-packagist-package/)
Thanks in advance
Falko

[2017-04-04 10:26] ChrisInv commented on #60
Thanks for this @fstockel. Problem is the dropdown won't close when clicking away. And if you have multiple dropdowns, then clicking on one won't close the other if it's already open.

Anyone got a solution for this scenario?

[2017-04-10 21:14] danimalweb commented on #63
Looking forward to this fix.

[2017-04-20 21:34] jer0dh commented on #60
@ChrisInv the workaround provided by @fstockel worked for me.  My dropdowns close when I click on another dropdown.

[2017-06-13 14:44] #45 closed

[2017-06-13 14:45] iamphill commented on #64
I dont think I am going to do this. Feel free to create your own package though & I can link in the README

[2017-06-13 14:45] #64 closed

[2017-07-05 09:15] iamphill opened #69 "Move to ES6"
CoffeeScript is *old* news. Should be re-written in ES6.

[2017-07-05 09:16] iamphill opened #70 "Drop jQuery"
Drop jQuery as a dependency. Shouldn't be too difficult.

[2017-07-05 09:17] iamphill opened #71 "Plugins"
Move internal features into plugins. Touch support might not be needed by everyone so that could be moved out of the core.

[2017-07-05 18:19] salatproduction commented on #62
Confirmed. Menu automatically closing in all browsers with «floating» adress bar.

[2017-07-17 15:44] smokie commented on #57
`$(window).on('resize', function (ev) {
        ev.preventBubble();
    });`
worked for, you want to customize that so it doesn't prevent bubbling on all resize events.

[2017-08-07 13:51] scrapewww commented on #60
This works for me, although clicking outside the menu does not close the menu which is kind of sketchy imo.

[2017-09-14 19:03] xitude commented on #69
Support is not fully available yet.
https://kangax.github.io/compat-table/es6/

[2017-09-22 22:57] emage opened #72 "On window resize - remove the body class "offcanvas-stop-scrolling""
When you have the menu opened and resize the browser, it should remove the class "offcanvas-stop-scrolling" from the BODY tag.  By not removing, you are not able to scroll the page anymore when the menu slides away.

[2017-10-15 20:17] matthewscalf opened #73 "Incompatible with Turbolinks"
How can re-instantiate the off canvas menu with a turbo link load? Basically the body is replaced with ajax content, so the scripts are not called again, but I can fire a function on turbo link load, so I could re-setup the object but I cannot see how.

[2017-10-15 21:15] matthewscalf commented on #73
I figured out a workaround, but feels kind of hacky. Let me know if there is a better way.

[2017-10-17 16:51] simpletheoryco commented on #60
@ChrisInv @scrapewww I'm having the same issue of dropdowns not closing when clicking away (outside the navbar, anywhere else on the page). Have you guys figured this out?

[2017-10-17 19:00] simpletheoryco commented on #60
Nevermind, I found a fix. Stefan's answer worked for me.

https://stackoverflow.com/questions/29918384/jquery-hide-a-particular-div-until-another-is-clicked-and-hide-that-div-again

[2017-11-23 04:56] korneliuskristianr commented on #57
Thanks @smokie it worked for me

[2017-11-25 10:35] iamphill commented on #73
@matthewscalf hey! Sorry the slow reply to this. You could just init the offcanvas script in the Turbolinks ready event.

[2017-11-25 10:35] iamphill commented on #69
The plan is to run it through something like rollup & compile back to es5.

[2017-11-25 10:37] iamphill commented on #73
Ah to do that we probably need #66 😞

[2017-12-27 18:36] balajidharma commented on #60
Try below fix - Created pull request #74

[code]

[2018-01-02 19:23] Hope1996 opened #76 "Disable close offcanvas menu after click on document"
Hi guys, can anyone help me?
How can i disable the closure of the offcanvas-menu when i click in any area in my html page?
I just want offcanvas-menu still be open after this, because i close it when user clicks only on
button-toggler in the navbar. Thanks to everyone!

[2018-01-05 17:55] iamphill commented on #60
https://github.com/iamphill/Bootstrap-Offcanvas/pull/75 was merged

[2018-01-05 17:55] #60 closed

[2018-01-05 18:04] #73 closed

[2018-01-05 18:24] #72 closed

[2018-03-14 20:05] lonerunner opened #79 "Manually open menu when click on button not in menu"
The documentation suggests to use

$("#js-cart-offcanvas").trigger("offcanvas.open");

if we want to manually trigger to open menu but this does not work when i click. I don't see animation and any class elements changes in debug console in chrome.

I have product list and when i click on product i want to add product details to menu and open menu

[code]

But it seems it doesn't work.

[2018-04-02 17:02] reallinfo opened #80 "New logo for Bootstrap-Offcanvas"
I wanted to contribute to Bootstrap-Offcanvas. I designed a logo for Bootstrap-Offcanvas. If you like it, I'll send you the files.

Do not hesitate to say if there is something you want to change. Color bla bla...

Which one do you prefer?

![offconvas](https://user-images.githubusercontent.com/36298335/38205754-5a547182-36b0-11e8-9567-bb6864754f79.jpg)

[2019-01-16 22:39] #79 closed, assigned to nobody

[2019-02-14 12:32] B-Prod opened #82 "Allow to have several elements that use the same target"
Currently it is not possible to have two elements that target the same canvas. In such case, only the first processed element may open the canvas, the other element is ignored.

Example code that fails:
[code]

The expected behaviour would be to have the canvas being opened by any buttons that have the correct target.

[2019-04-27 11:11] anephew commented on #79
Same here. Not work

[2020-01-22 15:50] Wqrld opened #85 "menu maximizes invisibly when touching anywhere on the page"
On https://feroxhosting.nl when you touch with a mobile device anywhere on the page the menu seems to open at full height but as it is invisible it only pushes other elements down making the screen look very weird. Is there any way to disable this functionality?

[2021-03-31 19:32] isanovich opened #86 "offcanvas does not work if there are more elements inside the button."

[2021-03-31 19:36] isanovich commented on #86
Example:
`<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#filterMobile" role="button" aria-controls="offcanvasExample"><span>Button1</span></a>`

[2021-04-13 00:33] Dart18 commented on #86
I ran into the same bug and I confirm that if the button contains another tag, eg: `<i class="bi bi-list"></i>`, it seems that the event is triggered twice